
<%- include('partials/_header.ejs') %>

	<body class="is-preload homepage">
		<div id="page-wrapper">

			<%- include('partials/_navigation.ejs') %>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Hi. This is Smart Blog :)</h2>
								<p>Share the Moment</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<li><a href="#" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
									<li><a href="#" class="button alt large icon solid fa-question-circle">More info</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							
							<% photos.forEach(photo => { %>
								<div class="col-4 col-12-medium">
									<!-- Box -->
										<section class="box feature">
											<a href="./photos/<%= photo._id %>" class="image featured"><img src="<%= photo.image %>" alt="" /></a>
											<div class="inner">
												<header>
													<h2><%= photo.title %></h2>
													<p><%= photo.description %></p>
												</header>
											</div>
										</section>
								</div>
							<% }) %>
						</div>
					</div>
				</div>

				<div class="nav-div">	
					<ul>
					<% for(i = 1; i <= pages; i++) { %>	
						<% if(i == current) { %>
							<li style="background-color: grey;" class=""><a href="/?page=<%= i %>" class=""><%= i %></a></li>
						<% } else if(i < pages){ %>
							<li class=""><a href="/?page=<%= i %>" class=""><%= i %></a></li>
						<% } else { %>
							<li class=""><a href="/?page=<%= i %>" class="">></a></li>
						<% } %>
					<% } %>	
					</ul>
					
				</div>
			<!-- Main -->
				
			<%- include('partials/_footer.ejs') %>

	</body>
</html>